

.iconback{
    
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    width: 220px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 30px;
    gap: 2px;
    align-items: center;
}

/* .view2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
} */

.card-container{
    display: flex;
    justify-content: space-between;
}

.all-chart{
    display: flex;
    gap: 10px;
}

.bar-chart{
    flex: 3;
}

.pie-chart{
    flex: 1;
}